root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1846.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA1865.severity = none
dotnet_diagnostic.CA1873.severity = none
dotnet_diagnostic.IDE0330.severity = none

[tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1861.severity = none
